<% layout('layout') -%>
<h3>Reported Cases</h3>
<div class="container">
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Disease Name</th>
      <th>Location</th>
      <th>Reported Date</th>
    </tr>
    <% results.forEach(function(cases) { %>
    <tr>
      <td><%= user.id %></td>

      <td><a href= <%='/users/' + user.id %>><%= user.name %></a></td>
      <td><%= user.email %></td>
      <td>TBD</td>
      <td><%= user.proximities %></td>
      <td><%= user.created_at %></td>
      <td><%= user.updated_at %></td>
    </tr>
    <% }) %>
  </table>
</div>
