<% layout('layout') -%>
<h1>Outbreak Location Reports</h1>
<div class="col-sm-6">
  <a href="./newReportedCase">
    <button class="btn btn-success btn-md" type="submit">Report a new Outbreak Location</button>
  </a>
</div>
<br/><br/>
<div class="container">
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Disease Name</th>
      <th>Location</th>
      <th>Date</th>
      <th>Description</th>
    </tr>
    <% cases.forEach(function(reported_case) { %>
    <tr class="row-item">
      <td><%= reported_case.id %></td>
      <td><%= reported_case.disease.name %></td>
      <td>(<%= reported_case.latitude %>, <%= reported_case.longitude %>)</td>
      <td><%= reported_case.date %></td>
      <% if (reported_case.description !== null) { %>
        <td><%= reported_case.description %></td>
      <% } %>
    </tr>
    <% }) %>
  </table>
</div>
