<% layout('layout') -%>
<h3>Users</h3>
<div class="container">
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name/Device ID</th>
      <th>Email</th>
      <th>Disease Name</th>
      <th>Risk Index</th>
      <th>Created Date</th>
    </tr>
    <% results.forEach(function(user) { %>
    <tr>
      <td><%= user.id %></td>

      <td><a href= <%='/users/' + user.id %>><%= user.name %></a></td>
      <td><%= user.email %></td>
      <td>Ebola</td>
      <% if (user.proximities[0] !== undefined) { %>
      <td><%= user.proximities[0].value %></td>
      <% } else { %>
      <td>N/A</td>
      <% } %>
      <td><%= user.created_at %></td>
    </tr>
    <% }) %>
  </table>
</div>
