<% layout('layout') -%>
<h3>Users</h3>
<div class="container">
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Proximity Index</th>
      <th>Created Date</th>
      <th>Updated Date</th>
    </tr>
    <% results.forEach(function(user) { %>
    <tr>
      <td><%= user.id %></td>

      <td><a href='/users/1'><%= user.name %></a></td>
      <td><%= user.email %></td>
      <td><%= user.proximities %></td>
      <td><%= user.created_at %></td>
      <td><%= user.updated_at %></td>
    </tr>
    <% }) %>

  </table>
</div>
