<% layout('layout') -%>
<h3>Users</h3>
<div class="container">
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name/Device ID</th>
      <th>Email</th>
      <th>Disease Name</th>
      <th>Risk Index</th>
      <th>Created Date</th>
      <th>Updated Date</th>
    </tr>
    <% results.forEach(function(user) { %>
    <tr>
      <td><%= user.id %></td>

      <td><a href= <%='/users/' + user.id %>><%= user.name %></a></td>
      <td><%= user.email %></td>
      <td>TBD</td>
      <td><%= user.proximities %></td>
       <td><%= user.created_at %></td>
      <td><%= user.updated_at %></td>
    </tr>
    <% }) %>
  </table>
</div>
